body {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: white;
    font-family: sans-serif;
}

header {
    display: block; /* HTML5 compat */
    margin: 0 0 28px 0;
    padding: 15px 20px;
    background: #F3F3F3 url("logo.png") no-repeat right;
    border-bottom: 1px solid #AAA;
}
header p {
    float: left;
    margin: 5px 0;
    color: #444;
    font-size: 1.0em;
    font-family: sans-serif;
    font-weight: bold;
}

header p a {
    color: #444;
    text-decoration: none;
}

#nav {
    float: right;
    margin: 5px 55px 5px 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-left: 5px;
}

#nav a {
    padding: 3px 5px;
    color: #333;
    font-size: 0.9em;
    text-decoration: none;
}

#nav a:hover {
    background-color: #FBFBFB;
    border-bottom: 2px solid #D70751;
}

.jumbotron {
    background: #F3F3F3 url("drawing.svg") no-repeat right bottom;
}
